body, html {
  height: 100%;
  width:100%;
  margin: 0;
  display: flex;
  flex-direction: row;
}

h1 {
  margin: 0;
  font-size: 36px;
  font-weight: 300;
}

.left-container {
  text-align: center;
  background-color: #87CEEB;

    /* Full height */
    height: 100%;
    width: 40%;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.right-container {
  text-align: center;
  background-color: #494EBF;
  display: flex;
  flex-direction: column;

    /* Full height */
    height: 100%;
    width: 60%;
    justify-content: center;
    align-items: center;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

button {
  border: 1px solid #012880;
  background-image: linear-gradient(-180deg, #ffcc80 0%, #ff9900  100%);
  display: flex;
  /* background-color: #FFB547; */
  color: #494EBF;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 60px;
  width: 310px;
  border-radius: 50px;
  font-weight: 800;
  font-size: 20px;
  line-height: 20px;
  box-shadow: 0 1rem 1.25rem 0 rgba(22,75,195,0.50),
  0 -0.25rem 1.5rem #ff9900(110, 15, 155, 1) inset,
  0 0.75rem 0.5rem rgba(255,255,255, 0.4) inset,
  0 0.25rem 0.5rem 0 #ffcc80(180, 70, 207, 1) inset;
}

.intro {
  font-size: 40px;
  font-weight: 300;
  color:  #FFF0DA;
  margin-bottom: 20px;
  line-height: 1.5;
  font-weight: 800;
}

@media(max-width: 1000px) {
  .left-container {
    width: 100%;
  }
  .right-container {
    background: transparent;
    width: 100%;
    position: absolute;
  }
  .intro {
    font-size: 56px;
  }
  .submit-button {
    font-size: 56px;
  }
  .button-container {
    width: 500px;
    height: 100px;
  }
}
